google-generativeai
google-genai
sentence-transformers
faiss-cpu
numpy
fastapi
uvicorn
sqlalchemy
pydantic
PyMuPDF
langfuse
openinference-instrumentation
openinference-instrumentation-google-genai
python-dotenv
PyYAML